/* VARIABLES */

:root {
  --color-primary: #978DDE;
  --color-primary-dark: #8078bb;
  --color-secondary: #F8E290;

  --color-gray: #d5d7da;
  --color-gray-light: #f7f7f7;
  --color-white: #fff;
  --color-black: #000;

  --border-color: #ebeef1;
  --box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

/* RESET */

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  padding: 10px;
  min-width: 100px;
  min-height: 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  color: var(--color-white);
}

a::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--color-secondary);
  z-index: -1;
  transition: transform .3s ease;
}

img {
  max-width: 100%;
  height: auto;
}

/* Utility Classes */
 
.lead {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

@media (max-width: 500px) {
  .lead {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.text-center {
  text-align: center;
}

.active {
  color: var(--color-white);
  background: var(--color-secondary);
}

.header-main {
  min-height: 66px;
}

@media (max-width: 820px) {
  .header-main {
    min-height: 0;
  }
}

.nav {
  width: 100%;
  height: 67px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--border-color);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.nav__logo {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-primary);
}

.nav__toggle {
  display: none;
}

.nav__toggle-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-primary);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 26px;
  margin-left: auto;
}

.nav__list-item {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav__link {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
}

@media only screen and (max-width: 820px) {
  .nav {
    height: 52px;
  }

  .nav__toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  .nav__toggle.is-open .nav__toggle-bar:nth-child(2) {
    opacity: 0;
  }

  .nav__toggle.is-open .nav__toggle-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav__toggle.is-open .nav__toggle-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav__list{
    position: fixed;
    width: 100%;
    left: -100%;
    top: 52px;
    z-index: 999999;
    line-height: 60px;
    flex-direction: column;
    background-color: var(--color-white);
    transition: 0.3s;
    box-shadow: var(--box-shadow);
  }

  .nav__list.is-open {
    left: 0;
  }

  .nav__list-item {
    margin: 10px 0;
  }
}

.container {
  width: 100%;
  max-width: 960px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.section__content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.section {
  padding-bottom: 5rem;
}

.section__header {
  padding-top: 5rem;
  margin-bottom: 3rem;
}

.section__header--about {
  padding-top: 0;
}

.section__title {
  font-size: calc(1.2rem + 2vw);
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section--about {
  padding-top: 5rem;
}

.section--price{
  background-color: var(--color-gray-light);
}

@media (max-width: 810px) {
  .section__content {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

@media (max-width: 530px) {
  .section__content {
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

/*  CARD  */

.card {
  position: relative;
  width: 100%;
  height: auto;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__container {
  position: relative;
  width: 100%;
  min-height: 450px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card__side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
}

.card__side--front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__side--back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.card__list {
  padding: 20px;
  font-size: 1.2rem;
  text-align: start;
  overflow: auto;
  list-style: inside decimal;
}

.card__list-item {
  padding: 10px 0;
  word-wrap: break-word;
}

.card__cta-container {
  padding: 20px;
  overflow: auto;
  font-size: 1.2rem;
}

.card__cta-container::-webkit-scrollbar,
.card__list::-webkit-scrollbar {
	width: 5px;
}
.card__cta-container::-webkit-scrollbar-track,
.card__list::-webkit-scrollbar-track {
	background: #f1f1f1;
}
.card__cta-container::-webkit-scrollbar-thumb,
.card__list::-webkit-scrollbar-thumb {
	background: var(--color-primary);
}

.card__heading {
  margin: 20px;
  font-size: 2rem;
}

.card__price-value {
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.card__price-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__cta-btn {
  display: block;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  font-size: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
}

.card__cta-btn:hover {
  background-color: var(--color-primary-dark);
  transition: all 0.6s ease-in;
}

@media (max-width: 530px) {
  .card__side--front {
    position: relative;
  }
  
  .card__side--back {
    position: relative;
    transform: none;
  }

  .card__cta-btn--back {
    display: none;
  }

  .flipped {
    transform: none;
  }
}

/* FOOTER */

.footer {
  background-color: var(--color-white);
  border-top: 1px solid var(--border-color);
}

.footer__container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 30px 20px;
}

/* DOCS */

.content {
  display: flex;
  justify-content: start;
}

.sidebar {
  width: 100%;
  padding-top: 10px;
  margin-right: 10px;
}

.sidebar__list {
  position: sticky;
  top: 125px;
  left: 0;
}

.sidebar__item {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.article {
  padding: 5px;
  padding-top: 130px;
}

.article:last-child {
  margin-bottom: 0;
}

.article__title {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 2rem;
}

@media (max-width: 810px) {
  .sidebar {
    min-width: 15%;
  }
}

@media (max-width: 700px) {
  .sidebar__link {
    font-size: 1rem;
    padding: 2px;
  }

  .article__title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}
